@{
    ViewBag.Title = "About";
}

<div id="outputcontainer" class="jumbotron">
    <div id="maininfo">
        <div class="header">
            <h2>What we do?</h2>
        </div>
        <br />
        <p>
            HolidayPlanner.com is a weekend getaway discovery plus booking tool that provides you with a killer user experience taking into consideration the time of the year, the number of people accompanying you, and the maximum cost you plan to bear. Not only this, your destination preferences ranging from beaches, hill stations, water parks, waterfalls, forts, pilgrimage shall be looked into as well.
        </p>
        <p>
            So next time you think of wandering away into open solitudes, extra bits of aimlessness or just get engulfed by nature's beauty, worry not where to go, we shall lead the way.
        </p>
        <p>
            If you like what we are doing and want to be part of the team feel free to mail us on info@holidayplanner.com(In Progress)
        </p>
        <br />
        <br />
        <p>
            <strong class="imp">The HolidayPlanner.com Team</strong>
        </p>
        <strong class="imp">
            Contact Details<br />
        </strong>
        
        <span>
            Holiday Planner private limited
            <br />
            Office: +91(22)6660 6600  Ext: 412 (Timings 10 AM to 9 PM)<br />
            Email : info@holidayplanner.com
        </span>
        </p>
    </div>
</div>


