@model HolidayPlanner.Models.Hotel

<div>

    <p>
        @foreach (var i in ViewBag.ImageData)
        {
            <img src="@i" />
        }

        @*@Html.ActionLink("Edit", "Edit", new { id = Model.HotelId }) |
            @Html.ActionLink("Back to List", "Index")*@
    </p>

    
   </div>
