@model HolidayPlanner.Models.Location
@{
    Layout = null;
}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
 function InitializeMap() {
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var myOptions = {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
    }
 window.onload = InitializeMap;
    </script>


<h2>Creating Your First Google Map Demo:</h2>
<br />
<br />
<br />

<div id="map" style="width: 300px; position:center; height: 238px">
   

    </div>
     