
@model IEnumerable<HolidayPlanner.Models.InfoViewModel>
@*@model HolidayPlanner.Models.InfoViewModel*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>

    <h3>Reviews</h3>

    <div>
        <hr />

        <dl class="dl-horizontal">

            @foreach (var item in Model)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>

                <dd>
                    @Html.DisplayFor(modelitem => item.Rating)
                </dd>
                <dd></dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ReviewDetails)
                </dt>

                <dd>
                    @Html.DisplayFor(modelitem => item.ReviewDetails)
                </dd>
            }
            </dl>
        </div>
                <p>
                    
                </p>
    </body>
</html>
