.BackgroundTest   
{   
    background-image: url('../Images/cocoa-island-resort.jpg');
    background-repeat:no-repeat; 
    position:fixed; 
    width:10000%;
    height:200%;
    top:0;
    left:0;
   
    font-family: Verdana, Helvetica, Sans-Serif;
    color:aqua;
    margin: 0;
    padding: 0;
    
}   