body {
}

td{
    font-size : 80%;
    text-align: left;
    padding:initial;
        /*border: 1px solid black;
    overflow: hidden;*/
    width: 100px;

}

table{
    align-content:flex-end;
    position:center;
    align-items:flex-end;
}